<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH VUE</title>
    <link rel="stylesheet" href="../css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>

<div id="search">

    <a class="viewed-btn btn-floating waves-effect"><i class="material-icons">turned_in_not</i></a>

    <div class="viewed-menu card" style="display: none">
        <ul>
            <li>
                <span>first</span>
                <a class="btn btn-small">удалить</a>
            </li>
            <li>second</li>
            <li>third</li>
        </ul>
    </div>

    <h5>{{header}}</h5>

    <div id="search-console">
        <input type="text" id="search-input" style="color: #595959" v-model="request">
    </div>
    <span style="display: block; height: 50px"></span>
    <h6>you search: "{{searching}}"</h6>
    <h5>list of films</h5>
    <div class="film-list film-card" v-for="(film, i) in films" v-bind:id="i">
        <p>{{++i}}. {{film.title}}</p>
    </div>

</div>

<script src="https://unpkg.com/vue"></script>
<script src="../js/search.js"></script>

</body>
</html>
