<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SEARCH VUE</title>
    <link rel="stylesheet" href="../css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>

<div id="search">

    <a class="viewed-btn btn-floating waves-effect" v-on:click="showViewMenu = !showViewMenu">
        <i class="material-icons">turned_in_not</i></a>

    <div class="viewed-menu card" v-if="showViewMenu">
        <ul v-if="bookmarkedFilms.length > 0">
            <li v-for="(film, i) in bookmarkedFilms">
                <span>{{++i}}: {{film.title}}</span>
                <a class="btn btn-small">delete</a>
            </li>
        </ul>
        <span v-else=>You not have bookmarked films</span>
    </div>

    <h5>{{header}}</h5>

    <div id="search-console">
        <input type="text" id="search-input" style="color: #595959" v-model="request">
    </div>
    <span style="display: block; height: 50px"></span>
    <h6>you search: "{{searching}}"</h6>
    <h5>list of films</h5>
    <div class="film-list film-card" v-for="(film, i) in films" v-bind:id="i">
        <p>{{++i}}. {{film.title}}</p>
        <a class="btn moves-effect" @click="bookmarkedFilms.push(film)">add to bookmark</a>
    </div>

</div>

<script src="https://unpkg.com/vue"></script>
<script src="../js/search.js"></script>

</body>
</html>
