<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JS & VUE COURSE OF STEPIK TASKS</title>
    <link rel="stylesheet" href="../css/materialize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/data.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav>
    <div id="nav" class="nav-wrapper navbar-fixed indigo-theme">
        <ul class="left">
            <li><a href="index.html">HOME</a></li>
            <li><a href="data.html">DATA</a></li>
            <li><a href="search.html">SEARCH</a></li>
            <li><a href="tasks.html">TASKS</a></li>
        </ul>
        <a
                id="edit"
                class="right btn-floating btn-large pulse"
                style="background-color:#4ebdd4;margin-top: 5px;margin-right:15px;cursor: pointer"
        >
            <i class="material-icons">edit</i>
        </a>
    </div>
</nav>

<div id="footer-component"></div>

<script type="module" src="../js/components/footer-component.js"></script>
<script type="module" src="../js/components/tooltip.js"></script>
</body>
</html>